/* FavoriteCounter.module.css */

.container {
  position: relative;
}

.icon {
  width: var(--spacing-6);
  height: var(--spacing-6);
}

.iconActive {
  fill: #f59e0b;
}

.badge {
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  background-color: var(--color-primary-600);
  color: var(--color-white);
  font-size: var(--font-size-xs);
  border-radius: var(--border-radius-full);
  height: var(--spacing-5);
  width: var(--spacing-5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight-medium);
}
